@charset "UTF-8";
/* CSS Document */

*{
    color: #A1A1A1;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
p{
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

#banner{
    background-color: white;
    height: 88vh;
    background: url("assets/banner-bg.png") no-repeat right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -60vh bottom 50%;
    
}

a {
    text-decoration: none;

}
a:visited, a:active {
    color: #313131;

}

.social-icon{
     height: 60px;
     width: auto;

}
.banner-content {
    width: 40%;
    margin-left: 5%;
}

.page-title {
    color: #313131;
    font-size: 4rem;
    margin: 0px 0px 18px 0px;
    font-family: 'Josefin Sans', sans-serif;

}

.page-title > span {
    color: #CD4167;
    font-family: 'Josefin Sans', sans-serif;

}

.pink-button {
    background-color: #CD4167;
    width: 40%;
    height: 35px;
    border: 0px solid transparent;
    box-shadow: 4px 0px 21px -2px grey;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;

    
}
.pink-button > a {
    color: white;
    font-size: 1.4rem;
}

/* Form section */

#form {
background: #2B2B2B;
padding-top: 10px;
}